/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 80%;
}



/* Style for the "Add Product" button */
.add-product-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; 
  border-radius: 4px; 
}

/* Hover effect for the button */
.add-product-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/*navbar*/

.custom-navbar {
  background-color: firebrick;

}

